/.cache
/.work
/_output
cover.out
/vendor
/.vendor-new
.DS_Store

# ignore IDE folders
.vscode/
.idea/

# ignored terraform ressources
package/crds/cloudcredentialaws.taikun.jet.crossplane.io_credentialaws.yaml
package/crds/cloudcredentialazure.taikun.jet.crossplane.io_credentialazures.yaml
package/crds/cloudcredentialgcp.taikun.jet.crossplane.io_credentialgcps.yaml
package/crds/cloudcredentialopenstack.taikun.jet.crossplane.io_credentialopenstacks.yaml

# other
authentification.sh